[submodule "Contracts/lib/account-abstraction"]
	path = Contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction.git
[submodule "Contracts/lib/openzeppelin-contracts"]
	path = Contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "Contracts/lib/solady"]
	path = Contracts/lib/solady
	url = https://github.com/Vectorized/solady.git
